Repository exercism/pyret, pull requests merged in 2023-07, with the labels that each got.

#26 Update gitignore to ignore Pyret compilation files.
  .gitignore
Labels: x:size/tiny, x:rep/tiny, x:action/fix

#23 Add ETL exercise
  config.json
  exercises/practice/etl/.docs/instructions.md
  exercises/practice/etl/.docs/introduction.md
  exercises/practice/etl/.meta/config.json
  exercises/practice/etl/.meta/example.arr
  exercises/practice/etl/.meta/tests.toml
  exercises/practice/etl/etl-test.arr
  exercises/practice/etl/etl.arr
Labels: x:module/practice-exercise, x:type/content, x:knowledge/none

#27 Initial implementation of raindrops
  config.json
  exercises/practice/raindrops/.docs/instructions.md
  exercises/practice/raindrops/.meta/config.json
  exercises/practice/raindrops/.meta/example.arr
  exercises/practice/raindrops/.meta/tests.toml
  exercises/practice/raindrops/raindrops-test.arr
  exercises/practice/raindrops/raindrops.arr
Labels: x:size/tiny, x:rep/tiny, x:type/content

#20 Implement D&D Character exercise
  config.json
  exercises/practice/dnd-character/.docs/instructions.md
  exercises/practice/dnd-character/.meta/config.json
  exercises/practice/dnd-character/.meta/example.arr
  exercises/practice/dnd-character/.meta/tests.toml
  exercises/practice/dnd-character/dnd-character-test.arr
  exercises/practice/dnd-character/dnd-character.arr
Labels: x:rep/small, x:module/practice-exercise, x:size/small, x:type/content, x:knowledge/none, x:type/docs

#29 Initial track docs
  docs/ABOUT.md
  docs/INSTALLATION.md
  docs/LEARNING.md
  docs/RESOURCES.md
  docs/SNIPPET.txt
  docs/TESTS.md
Labels: x:rep/small, x:size/small, x:knowledge/none, x:action/create, x:type/docs

#30 Adding shared docs for exercises
  exercises/shared/.docs/debug.md
  exercises/shared/.docs/help.md
  exercises/shared/.docs/tests.md
Labels: x:size/tiny, x:rep/tiny, x:knowledge/none, x:type/docs

#31 Add secret handshake
  config.json
  exercises/practice/secret-handshake/.docs/instructions.md
  exercises/practice/secret-handshake/.docs/introduction.md
  exercises/practice/secret-handshake/.meta/config.json
  exercises/practice/secret-handshake/.meta/example.arr
  exercises/practice/secret-handshake/.meta/tests.toml
  exercises/practice/secret-handshake/secret-handshake-test.arr
  exercises/practice/secret-handshake/secret-handshake.arr
Labels: x:size/tiny, x:rep/small, x:module/practice-exercise, x:type/content, x:knowledge/none

#32 Add matrix exercise
  config.json
  exercises/practice/matrix/.docs/instructions.md
  exercises/practice/matrix/.meta/config.json
  exercises/practice/matrix/.meta/example.arr
  exercises/practice/matrix/.meta/tests.toml
  exercises/practice/matrix/matrix-test.arr
  exercises/practice/matrix/matrix.arr
Labels: x:size/tiny, x:rep/small, x:module/practice-exercise, x:type/content, x:knowledge/none

#33 Add anagrams exercise
  config.json
  exercises/practice/anagram/.docs/instructions.md
  exercises/practice/anagram/.meta/config.json
  exercises/practice/anagram/.meta/example.arr
  exercises/practice/anagram/.meta/tests.toml
  exercises/practice/anagram/anagram-test.arr
  exercises/practice/anagram/anagram.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#34 add nucleotide-count exercise
  config.json
  exercises/practice/nucleotide-count/.docs/instructions.md
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/nucleotide-count/.meta/example.arr
  exercises/practice/nucleotide-count/.meta/tests.toml
  exercises/practice/nucleotide-count/nucleotide-count-test.arr
  exercises/practice/nucleotide-count/nucleotide-count.arr
Labels: x:module/practice-exercise, x:rep/tiny, x:size/small, x:type/content, x:knowledge/none

#35 [New Exercise]: Binary search
  config.json
  exercises/practice/binary-search/.docs/instructions.md
  exercises/practice/binary-search/.docs/introduction.md
  exercises/practice/binary-search/.meta/config.json
  exercises/practice/binary-search/.meta/example.arr
  exercises/practice/binary-search/.meta/tests.toml
  exercises/practice/binary-search/binary-search-test.arr
  exercises/practice/binary-search/binary-search.arr
Labels: x:module/practice-exercise, x:type/content, x:knowledge/none

#36 Initial implementation of grains exercise
  config.json
  exercises/practice/grains/.docs/instructions.md
  exercises/practice/grains/.meta/config.json
  exercises/practice/grains/.meta/example.arr
  exercises/practice/grains/.meta/tests.toml
  exercises/practice/grains/grains-test.arr
  exercises/practice/grains/grains.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#37 Add bob exercise
  config.json
  exercises/practice/bob/.docs/instructions.md
  exercises/practice/bob/.docs/introduction.md
  exercises/practice/bob/.meta/config.json
  exercises/practice/bob/.meta/example.arr
  exercises/practice/bob/.meta/tests.toml
  exercises/practice/bob/bob-test.arr
  exercises/practice/bob/bob.arr
Labels: x:rep/small, x:module/practice-exercise, x:size/small, x:type/content, x:knowledge/none

#38 Add series exercise
  config.json
  exercises/practice/series/.docs/instructions.md
  exercises/practice/series/.meta/config.json
  exercises/practice/series/.meta/example.arr
  exercises/practice/series/.meta/tests.toml
  exercises/practice/series/series-test.arr
  exercises/practice/series/series.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#39 add difference of squares exercise
  config.json
  exercises/practice/difference-of-squares/.docs/instructions.md
  exercises/practice/difference-of-squares/.meta/config.json
  exercises/practice/difference-of-squares/.meta/example.arr
  exercises/practice/difference-of-squares/.meta/tests.toml
  exercises/practice/difference-of-squares/difference-of-squares-test.arr
  exercises/practice/difference-of-squares/difference-of-squares.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#25 Add two-fer exercise
  config.json
  exercises/practice/two-fer/.approaches/config.json
  exercises/practice/two-fer/.approaches/introduction.md
  exercises/practice/two-fer/.docs/instructions.md
  exercises/practice/two-fer/.docs/introduction.md
  exercises/practice/two-fer/.meta/config.json
  exercises/practice/two-fer/.meta/example.arr
  exercises/practice/two-fer/.meta/tests.toml
  exercises/practice/two-fer/two-fer-test.arr
  exercises/practice/two-fer/two-fer.arr
Labels: x:rep/small, x:module/practice-exercise, x:size/small, x:type/content, x:knowledge/none, x:type/docs

#45 Add reverse string
  config.json
  exercises/practice/reverse-string/.docs/instructions.md
  exercises/practice/reverse-string/.meta/config.json
  exercises/practice/reverse-string/.meta/example.arr
  exercises/practice/reverse-string/.meta/tests.toml
  exercises/practice/reverse-string/reverse-string-test.arr
  exercises/practice/reverse-string/reverse-string.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#46 Update docs
  docs/INSTALLATION.md
  docs/TESTS.md
Labels: x:size/tiny, x:action/proofread, x:rep/tiny, x:knowledge/none, x:type/docs

#48 Minor idiomatic tweaks
  exercises/practice/binary-search/.meta/example.arr
  exercises/practice/binary-search/binary-search-test.arr
  exercises/practice/binary-search/binary-search.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#49 Swap example and stub for atbash cipher exercise
  exercises/practice/atbash-cipher/.meta/example.arr
  exercises/practice/atbash-cipher/atbash-cipher.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content

#50 add armstrong-numbers
  config.json
  exercises/practice/armstrong-numbers/.docs/instructions.md
  exercises/practice/armstrong-numbers/.meta/config.json
  exercises/practice/armstrong-numbers/.meta/example.arr
  exercises/practice/armstrong-numbers/.meta/tests.toml
  exercises/practice/armstrong-numbers/armstrong-numbers-test.arr
  exercises/practice/armstrong-numbers/armstrong-numbers.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:knowledge/none

#52 Update highlight.js keyword
  config.json
Labels: x:size/tiny, x:rep/tiny, x:knowledge/none

#53 Reorder practice exercises
  config.json
Labels: x:size/tiny, x:rep/tiny, x:knowledge/none

#55 Add acronym exercise
  config.json
  exercises/practice/acronym/.docs/instructions.md
  exercises/practice/acronym/.meta/config.json
  exercises/practice/acronym/.meta/example.arr
  exercises/practice/acronym/.meta/tests.toml
  exercises/practice/acronym/acronym-test.arr
  exercises/practice/acronym/acronym.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#56 Update example.arr
  exercises/practice/series/.meta/example.arr
Labels: x:size/tiny, x:rep/tiny

#57 Update example.arr for two-fer
  exercises/practice/two-fer/.meta/example.arr
Labels: x:size/tiny, x:rep/tiny

#58 Initial implementation of bin/test for verifying exercises
  bin/test
  bin/verify-exercises
Labels: x:size/tiny, x:rep/tiny, x:knowledge/none, x:type/ci

#59 Fix precision testing
  exercises/practice/space-age/.meta/example.arr
  exercises/practice/space-age/space-age-test.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none, x:action/improve

#60 Implement CI for testing exercises
  .github/workflows/test.yml
  .gitignore
  README.md
  bin/verify-exercises
  package-lock.json
  package.json
Labels: x:knowledge/none, x:type/ci, x:size/medium

#61 Update test.yml
  .github/workflows/test.yml
Labels: x:size/tiny, x:rep/tiny

#62 Update documents
  docs/ABOUT.md
  docs/INSTALLATION.md
  docs/LEARNING.md
  docs/TESTS.md
  exercises/shared/.docs/debug.md
  exercises/shared/.docs/help.md
Labels: x:size/tiny, x:action/proofread, x:rep/tiny, x:type/docs
