Repository exercism/pyret, pull requests merged in 2023-08, with the labels that each got.

#63 Update doc markdown for links
  docs/ABOUT.md
  docs/LEARNING.md
  docs/RESOURCES.md
  docs/TESTS.md
  exercises/shared/.docs/debug.md
  exercises/shared/.docs/help.md
  exercises/shared/.docs/tests.md
Labels: x:size/tiny, x:action/proofread, x:rep/tiny, x:knowledge/none, x:type/docs

#64 Update typo and links in installation markdown
  docs/INSTALLATION.md
Labels: x:size/tiny, x:action/proofread, x:rep/tiny, x:type/docs

#65 Add scrabble score
  config.json
  exercises/practice/scrabble-score/.docs/instructions.md
  exercises/practice/scrabble-score/.meta/config.json
  exercises/practice/scrabble-score/.meta/example.arr
  exercises/practice/scrabble-score/.meta/tests.toml
  exercises/practice/scrabble-score/scrabble-score-test.arr
  exercises/practice/scrabble-score/scrabble-score.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#66 Add resistor-color-trio
  config.json
  exercises/practice/resistor-color-trio/.docs/instructions.md
  exercises/practice/resistor-color-trio/.meta/config.json
  exercises/practice/resistor-color-trio/.meta/example.arr
  exercises/practice/resistor-color-trio/.meta/tests.toml
  exercises/practice/resistor-color-trio/resistor-color-trio-test.arr
  exercises/practice/resistor-color-trio/resistor-color-trio.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#67 Add square-root exercise
  config.json
  exercises/practice/dnd-character/.docs/instructions-append.md
  exercises/practice/square-root/.docs/instructions.md
  exercises/practice/square-root/.meta/config.json
  exercises/practice/square-root/.meta/example.arr
  exercises/practice/square-root/.meta/tests.toml
  exercises/practice/square-root/square-root-test.arr
  exercises/practice/square-root/square-root.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content

#68 Add pangram exercise
  config.json
  exercises/practice/pangram/.docs/instructions.md
  exercises/practice/pangram/.docs/introduction.md
  exercises/practice/pangram/.meta/config.json
  exercises/practice/pangram/.meta/example.arr
  exercises/practice/pangram/.meta/tests.toml
  exercises/practice/pangram/pangram-test.arr
  exercises/practice/pangram/pangram.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#69 Add hamming
  config.json
  exercises/practice/hamming/.docs/instructions.md
  exercises/practice/hamming/.meta/config.json
  exercises/practice/hamming/.meta/example.arr
  exercises/practice/hamming/.meta/tests.toml
  exercises/practice/hamming/hamming-test.arr
  exercises/practice/hamming/hamming.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#70 Add luhn exercise
  config.json
  exercises/practice/luhn/.docs/instructions.md
  exercises/practice/luhn/.meta/config.json
  exercises/practice/luhn/.meta/example.arr
  exercises/practice/luhn/.meta/tests.toml
  exercises/practice/luhn/luhn-test.arr
  exercises/practice/luhn/luhn.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#72 Change dict types for simplicity
  exercises/practice/nucleotide-count/.meta/example.arr
  exercises/practice/nucleotide-count/nucleotide-count-test.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:knowledge/none

#76 [Etl]: Expect string-dict instead of mutable-string-dict
  exercises/practice/etl/.meta/example.arr
  exercises/practice/etl/etl-test.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:action/fix, x:knowledge/none

#77 Add perfect-numbers
  config.json
  exercises/practice/perfect-numbers/.docs/instructions.md
  exercises/practice/perfect-numbers/.meta/config.json
  exercises/practice/perfect-numbers/.meta/example.arr
  exercises/practice/perfect-numbers/.meta/tests.toml
  exercises/practice/perfect-numbers/perfect-numbers-test.arr
  exercises/practice/perfect-numbers/perfect-numbers.arr
Labels: x:rep/small, x:module/practice-exercise, x:size/small, x:type/content, x:knowledge/none

#78 Add roman numerals
  config.json
  exercises/practice/roman-numerals/.docs/instructions.md
  exercises/practice/roman-numerals/.meta/config.json
  exercises/practice/roman-numerals/.meta/example.arr
  exercises/practice/roman-numerals/.meta/tests.toml
  exercises/practice/roman-numerals/roman-numerals-test.arr
  exercises/practice/roman-numerals/roman-numerals.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#81 Add foregones
  config.json
Labels: x:size/tiny, x:type/content, x:size/large

#82 Add rna-transcription exercise
  config.json
  exercises/practice/rna-transcription/.docs/instructions.md
  exercises/practice/rna-transcription/.docs/introduction.md
  exercises/practice/rna-transcription/.meta/config.json
  exercises/practice/rna-transcription/.meta/example.arr
  exercises/practice/rna-transcription/.meta/tests.toml
  exercises/practice/rna-transcription/rna-transcription-test.arr
  exercises/practice/rna-transcription/rna-transcription.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#83 Add phone-number exercise
  config.json
  exercises/practice/phone-number/.docs/instructions.md
  exercises/practice/phone-number/.meta/config.json
  exercises/practice/phone-number/.meta/example.arr
  exercises/practice/phone-number/.meta/tests.toml
  exercises/practice/phone-number/phone-number-test.arr
  exercises/practice/phone-number/phone-number.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#84 Add word count
  config.json
  exercises/practice/word-count/.docs/instructions.md
  exercises/practice/word-count/.docs/introduction.md
  exercises/practice/word-count/.meta/config.json
  exercises/practice/word-count/.meta/example.arr
  exercises/practice/word-count/.meta/tests.toml
  exercises/practice/word-count/word-count-test.arr
  exercises/practice/word-count/word-count.arr
Labels: x:module/practice-exercise, x:rep/tiny, x:size/small, x:type/content, x:knowledge/none

#85 Add strain exercise
  config.json
  exercises/practice/strain/.docs/instructions.md
  exercises/practice/strain/.meta/config.json
  exercises/practice/strain/.meta/example.arr
  exercises/practice/strain/.meta/tests.toml
  exercises/practice/strain/strain-test.arr
  exercises/practice/strain/strain.arr
Labels: x:size/tiny, x:module/practice-exercise, x:rep/tiny, x:type/content, x:knowledge/none

#89 Add list ops
  config.json
  exercises/practice/list-ops/.docs/instructions.md
  exercises/practice/list-ops/.meta/config.json
  exercises/practice/list-ops/.meta/example.arr
  exercises/practice/list-ops/.meta/tests.toml
  exercises/practice/list-ops/list-ops-test.arr
  exercises/practice/list-ops/list-ops.arr
Labels: x:module/practice-exercise, x:rep/medium, x:type/content, x:knowledge/none

#90 Avoid shadowing essentials2021 names in CPO
  exercises/practice/etl/.meta/example.arr
  exercises/practice/etl/etl-test.arr
  exercises/practice/etl/etl.arr
Labels: x:rep/tiny, x:action/fix, x:knowledge/none

#91 Update CI
  package-lock.json
  package.json
Labels: x:rep/tiny, x:type/ci
